@import 'base/variables'
@import "blocks/promo"
@import "blocks/header"
@import "blocks/buttons"
@import "base/media"
@import "blocks/advantages"
@import "blocks/consultation"
@import "blocks/titles"
@import "blocks/forms"
@import "blocks/catalog"
@import 'blocks/carousel'

*
    font-family: 'MuseoModerno', cursive

.container
    max-width: 950px
    margin: 0 auto



