.catalog
    min-height: 500px
    padding-top: 100px
    .items
        display: flex
        justify-content: center
        align-items: center
        &__fitnes
            width: 222px
            height: 52px
            background: rgba(0, 0, 0, 0.0001)
            border: 2px solid #D0D0D0
            font-weight: 400
            font-size: 18px
            text-transform: uppercase
            color: #6B6B6B
            transform: skew(-22deg)
            margin: 46px 12px 38px 0
            transition: 0.5s all
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            text-decoration: none
            &:hover
                background-color: #C70101
                color: #fff
                box-shadow: 0 0 23px rgba(0,0 ,0 ,0.7 )
                border: none